@page
@model IndexModel
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Home page";
}

<div class="input-group p-2">
    <select id="searchType">
        <option value="characters">Characters</option>
        <option value="comics">Comics</option>
        <option value="events">Events</option>
        <option value="creators">Creators</option>
        <option value="series">Series</option>
        <option value="stories">Stories</option>
    </select>
    <input type="search" class="form-control w-50 mx-auto" placeholder="..." id="searchTerm" />
    <button type="button" class="btn btn-primary" id="handleSearch">Search</button>
</div>

<div class="container">
    <div id="resultsCount"></div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="heroesContainer"></div>
</div>


@section Scripts {
    <script>
        console.log($('#searchType').find(":selected").val());
    </script>
    <script src="~/js/index.js"></script>
}